@page "/aspnetcore/layout"
@layout AlternativeLayout

<PageTitle>Exemplo de Layout</PageTitle>

<h1>Página com Layout Alternativo</h1>

<p>Esta página usa a diretiva <code>layout AlternativeLayout</code> no topo do arquivo para especificar que ela deve ser renderizada dentro do <code>AlternativeLayout.razor</code> em vez do layout padrão (<code>MainLayout.razor</code>).</p>

<p>Observe como o menu de navegação lateral não está presente e o cabeçalho e rodapé são diferentes.</p>

<a href="/">Voltar para a Home (com o layout padrão)</a>
