@page "/bootstrap/alerts"

<h3>Alerts</h3>

<div class="alert alert-primary" role="alert">
    Um simples alerta primário.
</div>
<div class="alert alert-success" role="alert">
    Um simples alerta de sucesso.
</div>
<div class="alert alert-danger" role="alert">
    Um simples alerta de perigo.
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Atenção!</strong> Este é um alerta que pode ser fechado.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>