@page "/bootstrap/card"

<h3>Card</h3>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Título do Card</h5>
        <p class="card-text">Um exemplo de texto rápido para construir no título do card e compor a maior parte do conteúdo do card.</p>
        <a href="#" class="btn btn-primary">Vá para algum lugar</a>
    </div>
</div>
